body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color:rgb(49, 48, 46);
    color: white;
    user-select: none;
}

.main{
    display: flex;
    gap: 200px;
}

.left h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.gem-image {
    width: 300px;
    height: 250px;
}

.gem-image:hover {
    opacity: 0.8;
    cursor: pointer;
}

.gem-image:active{
    opacity: 0.65;
    transform: scale(1.02);
}

.upgrade{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    height: 60px;
    border: 4px solid white;
    padding:  10px 20px;
    border-radius: 25px;
    position: relative;
    margin: 10px;
}

.mid-section h4{
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
}

.mid-section p {
    margin: 0;
}

.upgrade-img{
    width: 35px;
    height: 55px;
}

.gem-img{
    width: 30px;
    height: 20px;
}

.cost-info {
    display: flex;
    gap: 5px;
    align-items: center;
}

.next-level-info{
    position: absolute;
    right: -110px;
    background-color: gray;
    height: 80px;
    width: 100px;
    text-align: center;
    border-radius: 25px;
    display: none;
}

.upgrade:hover .next-level-info {
    display:  block;
}
